/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* POUR QUE LE MENU HAMBURGER DISPARAISSE */
/* .hiden{
    display: none;
} */



/* NAV */
nav{
    display: flex;
    width: 100vw;
    /* border:1px solid blue; */
    justify-content: space-around;
    
    background-color: #E8EFFC;
}

/* POUR LE MENU HAMBURGER  */
.hamburger {
    display: none;
    cursor: pointer;
}
/* POUR TOUS LES LIEN LINK LOGO ET LINK ITEM */
.link-logo,.link-item{
    text-decoration: none;
    color:black;
    font-size:23px;
    display: inline-block;
    margin-bottom: 20px;
    /* border:1px solid blue; */
    
    
}
/* POUR LE LOGO */
.link-logo{
    /* margin-left:15px; */
    /* margin: 20px 0 0 15px; */
    margin-top: 20px;
    /* gap:15px; */
}
/* POUR LES LIEN DE NAVIGATION */
.link-item{
    /* margin-right:15px; */
    margin-top : 20px ;
}

.link-item:nth-child(1){
    margin-right: 15px;
}
/* AU SURVOLE DE LA SOURIS  */
.link-item:hover{
    text-decoration: underline;
}

/* POUR LA BARRE DE RECHERCHE  */
.link-search{
    width:200px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom:20px;
    /* outline: none; Enlève la bordure noire */
}

/* BOUTON BARRE DE NAVIGATION */
.btn-search{
    margin-right: 15px;
    width:120px;
    padding: 4px;
    border-radius:10px;
    /* border-color:#ffeeee; */
    border: 1px solid #ccc;
    background-color: #ffeeee;
    cursor: pointer;
    /* outline: none; */
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width:870px){
   /* CHANGER l'ESPACEMENT ENTRE LOGO ET MENU HAMBURGER */
   nav{
        align-items: center;
        justify-content: center;
        flex-direction:column;
    }

    /* BOUTON HAMBURGER APPARAIT  */
   .hamburger{
        display: flex;
   }

   

   /* POUR FAIRE DISPARAITRE TOUS LES BOUTON DE LA NAVIGATION */
   .nav-link{
    display: none !important;
    flex-direction: column;
    width: 100%;
    text-align: center;
   }

   /* POUR LE BOUTON FERMER */
   .bi-x-circle,.bi-list{
        font-size:40px;
        margin-top: 3px;
    }
    /* 1ER ELEMENT A UN ESPACE DE 60PX  */
    .link-item:first-child{
        margin-top: 60px !important;
    }

    .links{
        display: flex;
        flex-direction: column;
    }

    /* pour tous les lien */
    .link-item{
        margin-bottom: 5px;
    }
    /* POUR LA BARRE DE RECHERCHE  */
    .search-bar {
        display: none;
    }
    

    
}



