/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* POUR QUE LE MENU HAMBURGER DISPARAISSE */
.hiden{
    display: none;
}



/* NAV */
nav{
    display: flex;
    width: 100vw;
    /* border:1px solid blue; */
    justify-content: space-around;
    
    background-color: #E8EFFC;
}

/* POUR TOUS LES LIEN LINK LOGO ET LINK ITEM */
.link-logo,.link-item{
    text-decoration: none;
    color:black;
    font-size:23px;
    display: inline-block;
    margin-bottom: 20px;
    /* border:1px solid blue; */
    
    
}
/* POUR LE LOGO */
.link-logo{
    /* margin-left:15px; */
    /* margin: 20px 0 0 15px; */
    margin-top: 20px;
    /* gap:15px; */
}
/* POUR LES LIEN DE NAVIGATION */
.link-item{
    /* margin-right:15px; */
    margin-top : 20px ;
}

.link-item:nth-child(1){
    margin-right: 15px;
}
/* AU SURVOLE DE LA SOURIS  */
.link-item:hover{
    text-decoration: underline;
}

/* POUR LA BARRE DE RECHERCHE  */
.link-search{
    width:200px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom:20px;
    /* outline: none; Enlève la bordure noire */
}

/* BOUTON BARRE DE NAVIGATION */
.btn-search{
    margin-right: 15px;
    width:120px;
    padding: 4px;
    border-radius:10px;
    /* border-color:#ffeeee; */
    border: 1px solid #ccc;
    background-color: #ffeeee;
    cursor: pointer;
    /* outline: none; */
    margin-top: 20px;
    margin-bottom: 20px;
}





