/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/***** *********PAGE AJOUT CATEGORIE ********************* *****/

/* ELEMENT CONTENANT TOUTE LA PAGE  */
.ajout_categorie,.ajout_outil,.modification_categorie,.suppression_categorie{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:1px solid blue; */
    
}

/* TITRE DE LA PAGE  */
.title_page{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 27px;
    color: #3F4574;
}

/* FORMULAIRE POUR AJOUTER UNE CATEGORIE  */
.add_categorie,.add_outil{
    display: flex;
    flex-direction: column;
}

/* STYLE DU LABEL DU FORMULAIRE AJOUT D'UNE CATEGORIE */
.label_categorie,.label_outil,.label_url{
    margin-top:15px;
    font-size:20px;
}

/* STYLE DU CHAMPS DE TEXTE POUR AJOUTER LE STYLE  */
.nom_categorie,.nom_outil,.url_outil{
    margin-top:15px;
    width:300px;
    height:27px;
}

/* STYlE DU BOUTON */
 .btn_categorie,.btn_outil{
    margin-top: 15px;
    width:150px;
    
    padding: 6px;
    border-radius:10px;
    /* border-color:#ffeeee; */
    border: 1px solid #ccc;
    background-color: #ffeeee;
    cursor: pointer;
    /* outline: none; */
   
 }
/* EN CAS D'ECHEC */
 .echec{
    margin-top:15px;
    font-size: 20px;
    color:red;
    font-weight: bolder;
 }
 
 /******* PAGE AJOUT OUTILS   ****** **/
.categorie_select{
    margin-top:15px;
}

/* ****** *** STYLE PAGE INDEX  ****** */

/* STYLE DU CONTAINER QUI REGROUPE TOUTES LES DIV CARD */
.card_container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    flex-direction: row;
}

/* POUR LE STYLE D'UNE OU PLUSIEURS CARD  */
.card{
    border:1px solid black;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin : 15px;
    padding: 20px; 
    border-radius: 15px;

   
}

.bi-arrow-left{
    font-size: 25px;
    color:#3F4574 ;
}

/* NOM DE L'OUTIl  */
.affiche_nom_outil{
   text-transform: uppercase;
   text-align: center;
   font-weight: bolder;
   font-size: 22px;
   margin-bottom: 13px;
}

/* AFFICHE BOUTON LIEN  */
.affiche_btn_outil{
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    color:black;
}

/* BOUTON POUR LA CATEGORIE  */
.affiche_categorie{

    /* margin-right: 18px; */
    
    width:150px;
    padding: 4px; 
    border-radius:10px;
    border-color:#ffeeee;
    border: 1px solid #ccc;
    background-color: #ffeeee;
    margin-top: 10px;
    text-align: center;
    
   

}

.div_nom_categorie{
    display: flex;
}

.bi-three-dots-vertical{
    margin: 15px 0 0 15px;
    cursor: pointer;
}

/* ****************PAGE CATEGORIE *********** */
.container_categorie{
    display: flex;
    flex-direction: column;
    /* border:1px solid red; */
}

/* DIV CONTENANT LE BOUTON PLUS  */
.div_icon_categorie{
    display: flex;
    justify-content: flex-end;
    /* border:1px solid blue; */
    
}

/* LIEN POUR LE BOUTON + QUI PERMET D'AVOIR ACCES A AJOUT CATEGORIE */
.link_icon_categorie{
    margin-right: 300px;
    font-size: 27px;
    color: #3F4574;
}

/* DIV CONTENANT TOUTES LES CATEGORIES  */
.div_all_categories{
    display: flex;
    /* border:1px solid blue; */
    width: 60vw;
   margin: auto;
}

/* POUR LE LIEN DES CATEGORIES  */
.link_categorie{
    /* display: flex; */
    text-decoration: none;
    color: black;
    margin-right: 10px;
    /* width:150px; */
    padding: 10px; 
    border-radius:10px;
    border-color:#ffeeee;
    border: 1px solid #ccc;
    background-color: #ffeeee;
    margin-top: 10px;
    /* text-align: center; */
}

/* **********************UNE CATEGORIE **************** */

/* style pour la div contenant la modification et suppression de la categorie  */
.container_modif_categorie{
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
}



.modif_item_categorie{
    color:#3F4574;
    margin: 0 50px 15px 0;
    font-size: 18px;

}
/* style de la ligne  */
 hr{
    border:none;
    border-top:2px solid #EBEBEB;
    
 }

/* style pour les outils des categories  */
.all_outils_categorie{
    display: flex;
    flex-wrap: wrap;
}



/******** PAGE SUPPRESSION CATEGORIE  */

table{
    /* border:1px solid blue; */
    width:40vw;
    
}


table td {
    padding: 8px; 
    text-align: center; 
    /* border-right: 1px solid green;  */
}

/* BOUTON SUPRRESSION */
.btn_categorie_sup{
    width:150px;
    
    padding: 6px;
    border-radius:10px;
    /* border-color:#ffeeee; */
    border: 1px solid #ccc;
    background-color: #ffeeee;
    cursor: pointer;
}








